#root {
  background: rgb(0,0,0);
background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(19,64,102,0.9962359943977591) 100%);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  max-height: 100%;
  font-family: 'Montserrat', sans-serif;
}

html{
  background: rgb(19,64,102);
  background: linear-gradient(0deg, rgba(19,64,102,1) 44%, rgba(0,0,0,1) 100%);
}

body > #root  {
  height: 100vh;
}

body, html {
  border: 0;
  margin: 0;
  padding: 0;
}

nav {
  background-color: antiquewhite;
  display: flex;
  font-size: 1.5em;
  height: 2em;
  margin-bottom: 2em;
  padding: .5em;
}

/* front page styles go in this section */
.frontpage-top{
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  width: 100%;
  height: 15vh
}

/* styling for the detectives button. perps button, and rendered characters */
.character-selection-container{
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.character-selection{
  display: flex;
  justify-content: center;
  width: 20%;
  height: 80%;
}

/* docs page styling goes in this section */
.docs-page-container{
  background-color: rgba(41, 40, 40, );
  border: 1px #ccc solid;
  color:rgb(255, 251, 251);
  height: 90%;
  width: 97%;
  margin: 10px;
}

.docs-page-container-row{
  max-height: 100%;
  overflow-y: scroll;
}

#scrollable-content{
  max-height: 95%;

}

.row{
  max-height: 95%;
}

