body, html {
  border: 0;
  margin: 0;
  padding: 0;
}

nav {
  background-color: antiquewhite;
  display: flex;
  font-size: 1.5em;
  height: 2em;
  margin-bottom: 2em;
  padding: .5em;
}

.character-selection-container{
  border: black;
  display: flex;
  margin-bottom: 50px;
}
.character-selection{
  justify-content: center;
  width: 20%;
  height: 80%;

}
